<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Done</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/flat-ui.css">
</head>
<body>
    <h2>Finished generating all the certificates</h2>
    <h2>Please check the 'output_cert' folder</h2>
    <br/>
    
    {% if state == "cert" %}
    <div></div>
    {% else %}
    successfully sent email to: {{emailOK}}
    <br />
    email address not found: {{emailFail}}
    <br />
    {% endif %}
    
    <br />
    <form action="{{ url_for('index')}}">
        <button class="btn btn-block btn-lg btn-primary">Back</button>
    </form>
</body>
</html>