<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internal Error</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/flat-ui.css">
</head>

<body>
    <h1 style="color: #E74C3C !important;"> Opps, Something went wrong :( </h1>
    Please check:
    <br />
    If number of awardees name match number of awardees email
    <br />
    <br />
    <form action="{{ url_for('index')}}">
        <button class="btn btn-block btn-lg btn-danger">Back</button>
    </form>
</body>

</html>